bin/lua
bin/python/ruff-lsp
bin/python/pyright-langserver
bin/python/anakinls
bin/python/jedi-language-server
ms-python*
*.zip

.DS_Store
*.log

lua/contrib/cmp_github_handler.lua
lua/contrib/cmp-rg
lua/contrib/goto-preview
lua/contrib/lspkind.lua
lua/contrib/lspwrapper.lua
lua/contrib/navigator.lua
lua/contrib/navigator.lua
lua/contrib/nui.nvim
lua/contrib/nvim-lspfuzzy
lua/contrib/nvim-lspfuzzy
lua/contrib/render.lua
lua/contrib/util.lua
lua/scratch/a_input_t.lua
lua/scratch/a_table.lua
lua/scratch/test.lua
lua/scratch/two_input_t.lua
__pycache__
reference
spell

bin/c
bin/cpptools-osx-arm64.vsix
bin/python/coc-pyright
extension
*.xml
cookies.txt
extension.vsixmanifest
*.vsix
