plugin/packer_compiled.lua
spell

lua/contrib/navigator.lua
lua/contrib/nvim-lspfuzzy
lua/contrib/lspkind.lua
lua/contrib/lspwrapper.lua
lua/contrib/render.lua
lua/contrib/util.lua
lua/contrib/nui.nvim
lua/contrib/navigator.lua
lua/contrib/nvim-lspfuzzy
lua/contrib/cmp-rg
lua/contrib/goto-preview
scratch
reference

*.log
*.json

lua/contrib/cmp_github_handler.lua
